[package]
name = "stonehold"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.80"
futures = "0.3.30"
macroquad = "0.4.5"
macroquad-tiled = "0.2.0"
rapier2d = "0.18.0"
